body {
    width: 100%
}

.boardimage {
    margin: 0 auto;
}

canvas {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
}

.container {
    margin: 0 auto;
    text-align: center;
}

.map {
    position: relative;
}

.save-route-popup {
    display: none;
}

.routecontainer {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
}